vt-timeline {
	background-color: alpha(currentColor, .1);
	border-radius: 6px;
}

vt-timeline > .selection {
	background-color: @blue_1;
	border-radius: 6px;
}

vt-timeline > .position {
	background-color: @blue_5;
	min-width: 2px;
}

picture {
	background-color: black;
}
